---
layout: default
---

<div class="container">
  <div class="row">
  <div class="text-center col-md-offset-1 col-md-10">
    <h1 class="">Lobbyranking der Bundesländer 2024</h1>
    <p>
      Für unsere Demokratie ist die Transparenz und damit Nachvollziehbarkeit politischen Handelns unerlässlich. Um das Vertrauen in die demokratischen Institutionen und die Integrität der handelnden Personen zu stärken, sind moderne Regeln nötig. 
      <br>
      Das Ranking von Transparency Deutschland bietet einen übersichtlichen Vergleich der Transparenz- und Integritätsregeln in Deutschland. Wir bewerten, ob ein Lobbyregister, ein legislativer Fußabdruck, eine Karenzzeit für Regierungsmitglieder und eine Offenlegung von Nebentätigkeiten vorhanden sind – und wenn ja, in welcher Form. Auf dieser Grundlage entsteht das Lobbyranking. 
      <br>
      Unsere interaktive Webseite ermöglicht Ihnen, nach den Themenfeldern sowie nach den Bundesländern zu filtern und sich mit den Details der Regelungen vertraut zu machen. 
    </p>
    <br><br><br>
  </div>
</div>
<div class="row">
  <div class="vis col-md-12" ng-controller="BarchartCtrl">
  {% raw %}
  <div class="col-md-3 category-buttons" ng-show="loading_finished" ng-cloak="">
    <button class="btn-default vis-btn-cat vis-btn-information"
            style="border-left-color: #3695D8" ng-click="loadOverview()">Gesamt</button>
    <button ng-repeat="category in categories track by $index"class="btn-default vis-btn-cat vis-btn-information"
            ng-style="{'border-left-color': colors[$index % colors.length]}" ng-click="catClick(category, colors[$index])">{{category}}</button>
    <div ng-if="show_info"><strong>{{active_cat}}</strong> {{active_info}}</div>
  </div>
    <div class="col-md-9 mb1">
      <div id="wrapper">
          <barchart data="bardata" caption="barcaptions" colors="activeColor" max="100"></barchart>
          Balkendiagramm nach Gesamtergebnis sortiert. Stand der Erhebung: August 2024
          
          <br>
          <br>
        
          Die Ergebnisse des Rankings von 2021 finden Sie zum Vergleich hier:
          <br>
          <a href="https://raw.githubusercontent.com/TransparencyGermany/lrd/master/static/files/Ergebnisse%20Lobbyranking%202021-zusammengef%C3%BCgt.pdf">
            <span class="fa fa-download">&nbsp;&nbsp;</span>Ergebnisse Lobbyranking 2021 <br />  pdf | <1MB
          </a>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  {% endraw %}
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <p>
      Sowohl im Bund als auch in einigen Ländern haben sich in den vergangenen Jahren – auch ausgelöst durch Skandale wie die Aserbaidschanaffäre, den Maskenskandal, Wirecard und Cum-Ex – die Transparenz- und Integritätsregeln spürbar verbessert. Im Lobbyranking 2024 haben sich 12 der 16 Bundesländer gegenüber dem Lobbyranking 2022 leicht verbessert. 
      <br>
      Dennoch erreichen 13 Bundesländer auch im Lobbyranking 2024 nicht einmal die Hälfte der möglichen Transparency-Kriterien. Die Spanne zwischen dem besten Bundesland Thüringen (69 % der erreichbaren Punkte) und am schwächsten abschneidenden Bundesland Bremen (9 % der erreichbaren Punkte) ist enorm. Ein Großteil der Bundesländer bietet damit noch immer zu wenig Nachvollziehbarkeit von politischen Entscheidungen für die Bürgerinnen und Bürger und zu viele Möglichkeiten für potenzielle illegitime Lobby-Einflussnahme 
      <br>
      Thüringen, das 69% der Kriterien erfüllt, konnte dank des im Juni 2024 vorgelegten Lobbyregisters seinen Spitzenplatz im Ranking souverän behaupten. Auf den folgenden Plätzen vergrößern Bayern (54%) und Baden-Württemberg (53%) dank neuer Karenzzeitregeln ihren Abstand zum Mittelfeld. In der Gesamtschau schneidet der Bund dank mittlerweile insgesamt recht guter Lobby- und Transparenzregeln mit 71% besser ab als alle Bundesländer. 
      <br>
      In der unteren Hälfte steigt Sachsen (24%) durch die Einführung von Karenzzeiten für ausscheidende Regierungsmitglieder um fünf Plätze auf und landet auf Platz 10 des Lobbyrankings 2024. Andererseits verlieren Rheinland-Pfalz (19%), Niedersachsen (19%) und Sachsen-Anhalt (18%) aufgrund von Inaktivität vier bzw. drei Plätze und befinden sich auf den Rängen 13, 14 sowie 15. Die „rote Laterne“ behält Bremen (9%). 
    </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="map-container col-lg-8 col-lg-offset-2" ng-controller="MapCtrl">
    <h2 class="text-center">Wählen Sie für Details ein Bundesland aus</h2>
    {% include svg/map.svg %}
    <!--<div class="map text-center">-->
      <!--<div id="map"></div>-->
    <!--</div>-->
    <h2>Warum haben wir das Lobbyranking erstellt?</h2>
    <p>
      Auf Länderebene hatte sich bis 2021 bei den Integritätsregeln wenig getan. Die Arbeitsgruppe Politik von Transparency Deutschland sah sich daher in der Verantwortung, eine umfassende vergleichende Untersuchung durchzuführen und die Ergebnisse zu veröffentlichen. Zweck der Bemühungen war und ist es, die Öffentlichkeit in dieser für das Gemeinwohl sehr bedeutsamen Angelegenheit zu sensibilisieren sowie bei den verantwortlichen politischen Entscheidungstragenden ein Bewusstsein für die Notwendigkeit möglichst schneller und einheitlicher regulatorischer Änderungen zu schaffen. 
      <br>
      Erstmalig wurde mit dem Lobbyranking 2021 am 11. März 2021 in leicht verständlicher und transparenter Form für jedes einzelne Bundesland ermittelt, ob und falls ja, in welchem Umfang in den vier genannten Gebieten Regeln existieren und welchen genauen Inhalt sie haben. Gerade auf dem Hintergrund aktueller Entwicklungen, die von bröckelndem Vertrauen in die demokratischen Institutionen bis hin zu Radikalisierungstendenzen reichen, gewinnen moderne Transparenz- und Integritätsregeln weiter zunehmend an Bedeutung.  
<br>
Die Webseite www.lobbyranking.de wurde am 11. März 2021 erstmals veröffentlicht und am 10. März 2022 sowie am 13. August 2024 aktualisiert. 
    </p>

    <h2>So haben wir getestet</h2>
    <p>
      In allen 16 deutschen Bundesländern wurden die Regeln zur Sicherstellung von Transparenz und Integrität überprüft. Dabei wurde zwischen den Vorschriften zum Lobbyregister, zum legislativen Fußabdruck, zu den Karenzzeiten beim Ausscheiden aus dem Regierungsamt sowie zu den parlamentarischen Verhaltensregeln unterschieden. Für jedes Bundesland haben wir die entsprechenden gesetzlichen und innerparlamentarischen Regeln getrennt betrachtet und anhand fester Kriterien (siehe unten) gewichtet. Zu Vergleichszwecken sind die Regelungen des Bundes in das Ranking mit einbezogen.
    </p>

    <h3>So wurde gewichtet</h3>
    <p>
      Die vier Variablen flossen zu je einem Viertel in die Bewertung ein und haben jeweils eine Maximalpunktzahl von 50 Punkten. Die Variablen selbst bestehen aus verschiedenen Unterkategorien mit teils unterschiedlicher Gewichtung. Anhang fester Kriterien wurden die Unterkategorien der vier Bereiche bewertet. Die Bewertungsschemata für die einzelnen Unterkategorien finden Sie in der verlinkten Excel im Footer. Die Ergebnisse der einzelnen Kategorien können grafisch im Detail für jedes einzelne Bundesland auf den Länderseiten nachvollzogen werden.
    </p>

    <br><br>

    <p>
      Weitere Informationen sowie den Datensatz mit den Rohdaten finden Sie im Footer verlinkt.
    </p>
  </div>
</div>
</div>
