.barContainer {
  width: 100%;
}

.track {
  fill: rgb(233, 234, 238);
}

.cap {
  fill: rgb(154, 169, 184);
}

.value {
  transition:
    width 1s ease,
    x 1s ease;
}

.text {
  transition: x 1s ease;
  fill: #000;
}
